.scene {
    position: absolute;
    width: 100%;
    height: 100vh
}

*,
*:after,
*:before {
    box-sizing: border-box
}

.stack__item {
    background-size: cover;
    transition: all .5s ease
}

@media screen and (max-width: 1920px) {
    html {
        font-size: calc(.625rem + .41666666666666674vw)
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: calc(.8126951092611863rem + .20811654526534862vw)
    }
}

@media screen and (max-width: 479px) {
    html {
        font-size: calc(.7494769874476988rem + .8368200836820083vw)
    }
}

.heading-contact .line {
    overflow: hidden
}

.heading-wrap {
    opacity: 0
}

.main_info.par .char,
.swiper-slide-active .line,
.swiper-slide .line {
    overflow-y: hidden
}

.swiper-slide .word {
    transform: translateY(-100%);
    transition-delay: 0ms;
    transition-duration: .45s
}

.swiper-slide-active .word {
    transform: translateY(0);
    transition-delay: .4s;
    transition-duration: .6s
}

.swiper-slide .client-image {
    transform: scale(0);
    transition: cubic-bezier(.74, .02, .44, .78) 1s all
}

.swiper-slide-active .client-image {
    transition-duration: .65s;
    transition-delay: .25s;
    transform: scale(1)
}

.swiper-slide .client-name,
.swiper-slide .client-job {
    transform: translateY(-100%);
    opacity: 0
}

.swiper-slide-active .client-name,
.swiper-slide-active .client-job {
    transform: translateY(0);
    opacity: 100;
    transition-delay: .3s;
    transition-duration: .45s
}

.first .line {
    position: relative
}

.first .line-mask {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f2ebfe;
    opacity: .65;
    height: 100%;
    width: 100%;
    z-index: 2
}

[data-link-hover] {
    position: relative;
    overflow: hidden
}

.swiper-slide-active .client-job {
    transform: translateY(0);
    opacity: 100;
    transition-delay: .2s;
    transition-duration: .65s
}

.rectangles--hide {
    display: none
}

.rectangles.remove-events,
.works__rectangles {
    display: block
}

.rotate-center {
    -webkit-animation: rotate-center .6s cubic-bezier(.39, .575, .565, 1) infinite both;
    animation: rotate-center .6s cubic-bezier(.39, .575, .565, 1) infinite both
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.remove-events {
    pointer-events: none
}

.rectangle--space {
    width: calc(20% - 1rem)
}

canvas {
    display: block;
    width: 100%;
    height: 100%
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

canvas {
    position: absolute !important;
    z-index: -1
}

.dg.ac {
    z-index: 99 !important
}

body {
    position: relative
}

.work-bg {
    transform: scale(1.18)
}

.work-bg:hover {
    transform: scale(1.06)
}

.intro-heading_itself .line,
.line {
    overflow: hidden
}

.work-bg-placeholder {
    display: block
}

.process-cards-wrapper {
    pointer-events: none
}

@media screen and (max-width: 479px) {
    .process-cards-wrapper {
        pointer-events: auto
    }
}